.archive-header {
    margin-bottom: rem(20);
    
    .archive-title {
        font-size: rem(24);
    }

    .archive-desc {
        font-size: rem(14);
        color: #616161;
    }
}

.author-header {
    background: $light center center/cover;
    margin-bottom: rem(20);    
    height: 310px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: stretch;
    padding: rem(45);


    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#A3A9AD, .8);
    }

    .author-img {
        width: 80px;
        height: 80px;
        align-self: baseline;
        img {
            border-radius: 1000px;
        }
    }

    .author-header-content {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;
        flex: 1;
        color: #cfd8dc;
    }

    .author-detail {
        margin-right: rem(15);
    }

    .author-name {
        font-size: rem(26);
        margin-bottom: 0;
        color: $white;
    }
    
    .author-desc {

    }
    
    .author-socials {
        a {
            display: inline-block;
            width: 15px;

            &:not(:first-child) {
                margin-right: rem(8);
            }
        }
    }
}
