/**
*
*	Name:			IRANYekan Font
*	Version:			3.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2018
*	Updated on:		Dec 20, 2018
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/

// ----------------------
// Iran Bakh
// ----------------------

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 100;
	src: url('asset/font/Yekan Bakh EN 01 Hairline.eot');
	src: url('asset/font/Yekan Bakh EN 01 Hairline.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 01 Hairline.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 01 Hairline.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 200;
	src: url('asset/font/Yekan Bakh EN 02 Thin.eot');
	src: url('asset/font/Yekan Bakh EN 02 Thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 02 Thin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 02 Thin.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 200;
	src: url('asset/font/Yekan Bakh EN 03 Light.eot');
	src: url('asset/font/Yekan Bakh EN 03 Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 03 Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 03 Light.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: normal;
	src: url('asset/font/Yekan Bakh EN 04 Regular.eot');
	src: url('asset/font/Yekan Bakh EN 04 Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 04 Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 04 Regular.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 500;
	src: url('asset/font/Yekan Bakh EN 05 Medium.eot');
	src: url('asset/font/Yekan Bakh EN 05 Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 05 Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 05 Medium.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: bold;
	src: url('asset/font/Yekan Bakh EN 06 Bold.eot');
	src: url('asset/font/Yekan Bakh EN 06 Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 06 Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 06 Bold.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 800;
	src: url('asset/font/Yekan Bakh EN 07 Heavy.eot');
	src: url('asset/font/Yekan Bakh EN 07 Heavy.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 07 Heavy.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 07 Heavy.ttf') format('truetype');
		 font-display: arial;
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 900;
	src: url('asset/font/Yekan Bakh EN 08 Fat.eot');
	src: url('asset/font/Yekan Bakh EN 08 Fat.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('asset/font/Yekan Bakh EN 08 Fat.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('asset/font/Yekan Bakh EN 08 Fat.ttf') format('truetype');
		 font-display: arial;
}
