.main-footer {
    padding: rem(22) 0;
}

.footer-copyright,
.footer-designby {
    font-size: rem(15);
}

.footer-designby {
    color: #757575;
}

.footer-logo {
    img {
        width: 90px;
        transition: opacity .3s;

        &:hover {
            opacity: 0.6;
        }
    }
}
