.main-header {
    border-bottom: 1px solid #eceff1;
    margin-bottom: 30px;
    
    .navbar {
        padding: 0;
    }

    .nav-link {
        color: $black;
        text-align: center;
        line-height: 1;
    }
    .navbar-brand {
        width: 90px;
        margin: rem(0.5) 1rem rem(.5) rem(50);
    }

    .nav-item {
        position: relative;
    }

    .navbar-light .navbar-nav a:hover {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 rem(8);
            height: 2px;
            background-color: $black;
        }
    }
    
    .navbar-light .navbar-nav .current_page_item {
        a {
            font-weight: bold;
            color: black;
            
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 rem(8);
                height: 2px;
                background-color: $black;
            }
        }
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: rem(17) rem(12) rem(15);
    }

    .navbar-nav li {
        @extend .nav-item;
        
        a {
            @extend .nav-link;
        }
    }
}

.main-header-search {
    .form-control {
        font-size: $font-size-xs;
        width: 140px;
        border-radius: 1000px;
    }
}
