.line-dotted {
    height: 14px;
    border-top: none;
    background-image: radial-gradient(circle at center center, #767676 15%, rgba(255, 255, 255, 0) 15%);
    background-size: 7px 7px;
}

.line-dotted.line-lg {
    height: 30px;
}

