.pagination {
    position: relative;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: rem(80);

    &::before,
    &::after {
        content: "";
        position: absolute;
    }
}
