.post-list {
    margin-bottom: rem(40);
}

.post-single,
.post-item {
    margin-bottom: 30px;
    position: relative;

    .post-img {
        @include ratio-box;

        img {
            @include ratio-box-content;
        }
    }

    .post-header {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: start;
        font-size: rem(12);
        padding: 10px 0;

        .post-header-item {
            &:not(:first-child) {
                margin-right: 1em;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: #D5D5D5;
                    border-radius: 50%;
                    margin-left: 1em;
                }
            }
        }
    }

    .post-author {
        img {
            border-radius: 1000px;
            width: 25px;
            margin-left: 0.5em;
        }
    }

    .post-title {
        font-size: rem(26);
    }

    .post-excerpt {
        font-family: yekanbakh;
        font-size: 14px;
        color: #424242;
    }
    
    .post-time-to-read {
        background-color: $gray-400;
        padding: 5px 7px;
        border-radius: 5px;

        img {
            margin-left: 2px;
            vertical-align: middle;
        }
    }

    a {
        color: $black;
        transition: color .3s ease;

        &:hover {
            color: lighten($black, 40);
        }
    }
}

.post-item {
    height: $post-max-height;
    overflow: hidden;

    .post-title {
        font-size: rem(20);
        font-family: yekanbakh;
    }

    .post-excerpt {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 50px;
            background-image: linear-gradient(0deg, $white, transparent);
        }
    }
}

.post-single {
    .post-content {
        font-size: rem(18);
        line-height: (30/18);
        margin-bottom: rem(50);

        a {
            color: $primary;

            &:hover {
                color: lighten($color: $primary, $amount: 30)
            }
        }
    }
}

.post-footer {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-top: rem(28);
    padding-bottom: rem(28);
    font-size: rem(16);
    margin-bottom: rem(50);

    .post-authors {
        margin-bottom: rem(40);
    }
    
    .author-img {
        margin-bottom: rem(10);
        img {
            width: 40px;
            height: 40px;
            margin-left: 0;
        }
    }
    
    .post-author {
        font-size: 12px;
        text-align: center;
    }

    .author-name {
        font-size: rem(12);
    }


    .post-share-via {
        transition: opacity 0.3s;
        
        &:not(:first-child) {
            margin-right: 0.5em;
        }

        &:hover {
            opacity: .3;
        }
    }
}

.post-related {
    .post-item {
        height: auto;
    }
}
