.subscription-section {
    padding: rem(75) 0;
    background-color: $indigo;
    color: $white;
    background: $primary;
    background-image: radial-gradient(circle at center center, rgba(0, 0, 0, .15) 10%, rgba(255, 255, 255, 0) 10%);
    background-size: 20px 20px;

    .subscription-title {
        font-size: rem(36);
    }

    .subscription-desc {
        font-size: rem(20);
    }

    .subscription-input {
        background-color: rgba(#311b92, .3);
        // border: 1px solid $white;
        color: $white;
        direction: ltr;
        text-align: right;
        font-size: rem(18);

        &::placeholder {
            color: #9fa8da;
        }

        &:focus {
            background-color: rgba(#311b92, .8);
        }
    }

    .subscription-btn {
        background-color: $white;
        color: #281FD1;
        font-size: rem(18);
        font-weight: bold;
    }

    // Wordpress plugin
    .es_subscription_form {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .es-field-wrap {
        margin-bottom: 0;
        flex: 0 0 45%;
        
        label {
            margin-bottom: 0;
            width: 100%;
        }
    }

    .es_txt_email {
        @extend .subscription-input;
        @extend .form-control;
    }
    
    .es_submit_button {
        @extend .btn;
        @extend .btn-light;
        @extend .subscription-btn;
    }

    .es_subscription_message {
        color: $white;
        &.success {
            // color: $green
        }
    }

}
