.code {
    direction: ltr;
    text-align-last: left;
    font-size: rem(12);
    color: #eceff1;
    background-color: #263238;
    padding: 10px 15px;
    border-radius: 5px;
}

.blockquote {
    border-right: 5px solid $primary;
    padding: 10px;
    background-color: $gray-100;

    p {
        margin-bottom: .3em;
    }

    cite {
        font-size: rem(12);
        font-style: normal;

        &::before {
            content: "-";
            margin-left: 5px;
        }
    }
}
