$browser-font-size: 16;

@function rem($size) {
    @return ($size + 0rem) / $browser-font-size;
}

@mixin ratio-box($width-ratio: 16, $height-ratio: 9) {
    $ratio: $height-ratio / $width-ratio;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        padding-top: $ratio * 100%;
        display: block;
    }
}

@mixin ratio-box-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
