// Font
$font-family-base: yekanbakh, Roboto;

$font-size-base: rem(14);
$font-size-sm: rem(12);
$font-size-xs: rem(10);
$font-size-lg: rem(20);
$font-size-xlg: rem(24);

$font-weight-normal: normal;
$font-weight-bold: bold;

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #dfe1e3;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$indigo: #403cb7;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $indigo;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// Text
$headings-font-weight: bold;
$headings-line-height: 1.8;

$link-hover-decoration: none;
$line-height-base: 1.7;
$link-color: $primary;

$border-radius: 0;

// Gird
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1170px);

// Pagination
$pagination-padding-y: .5rem;
$pagination-padding-x: .75rem;
$pagination-padding-y-sm: .25rem;
$pagination-padding-x-sm: .5rem;
$pagination-padding-y-lg: .75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-line-height: 1;

$pagination-color: #546e7a;
$pagination-bg: $white;
$pagination-border-width: 2px;
$pagination-border-color: transparent;

// $pagination-focus-box-shadow: $input-btn-focus-box-shadow;
$pagination-focus-outline: 0;

// $pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-200;
// $pagination-hover-border-color: $gray-300;

$pagination-active-color: $black;
$pagination-active-bg: transparent;
$pagination-active-border-color: $black;

$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: $gray-300;


// Forms
$input-border-radius-lg: 4px;
$btn-border-radius-lg: 4px;


// Post
$post-max-height: 520px;
